# Maven target folders
target/**
common/target/**
agent/target/**
server/target/**
sample-*/target/**

# Node folders
frontend/node_modules/**
frontend/dist/**

# IntelliJ IDE files
.idea/
docs/Gemfile.lock
docs/_site/**
